<!DOCTYPE html>
<head>
    <%- include("widgets/head.ejs") %>
    <title>About Us - <%- site_conf.site.short %></title>
    <script>
        const Palette=new MPaletteProcesser(MataPalette);
        Palette.setPaletteFrom("primary","GREEN",500);
        Palette.setPaletteFrom("primary","TEAL",500);
    </script>
</head>
<body>
    <%- include("widgets/m-header.ejs") %>
    <main>
        <article>

        </article>
        <script>
            
        </script>
    </main>
</body>