<!DOCTYPE html>
<head>
    <%- include("widgets/head.ejs") %>
    <script src="/js/jumper.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/4.3.0/marked.min.js"></script>
    <title>博客 - <%- site_conf.site.short -%></title>
    <script>
        const Palette=new MPaletteProcesser(MataPalette);
        Palette.setPaletteFrom("primary","BLUE",500);
        Palette.setPaletteFrom("primary","LIGHTBLUE",500);
    </script>
</head>
<body>
    <%- include("widgets/m-header.ejs") %>
    <Main>
        <Box>
            <Line>
                <input onkeydown="_search(this)" placeholder="搜索"/>
            </Line>
            <Line>
                <Box space="Margin Padding">
                    <% all.blog.forEach(item=>{ %>
                        <%- include("boxes/blog.ejs",{item}) %>
                    <% }) %>
                </Box>
            </Line>
        </Box>
        <script>
            let json={};
            fetch("/json.d/blogs.json").then(data=>{
                data.text().then(data=>{
                    json=JSON.parse(data);
                });
            });
            function _search(element){
                let val=element.value;
                let d_json = search(val,json);
                let sid;
                if (d_json==null) sid="nullsid";
                else sid=d_json.sid;
                let blogs_collection=document.getElementById("blog_container").children;
                for(let item of blogs_collection){
                    if(!item.innerHTML.includes(`<sid>${sid}</sid>`))
                        item.style.display="none";
                    else item.style.display="inline-block";
                }
            }
        </script>
    </Main>
</body>