<!DOCTYPE html>
<head>
    <%- include("widgets/head.ejs") %>
    <title><%- site_conf.site.name -%> - <%- site_conf.site.short %></title>
    <script>
        const Palette=new MPaletteProcesser(MataPalette);
        Palette.setPaletteFrom("primary","BLUE",500);
        Palette.setPaletteFrom("primary","LIGHTBLUE",500);
    </script>
</head>
<body>
    <%- include("widgets/m-header.ejs") %>
    <main>
        <aside>

        </aside>
        <article>

        </article>
    </main>
</body>