<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/toolkit.css">
    <script src="/js/toolkit.js"></script>
    <script src="/js/colors.js"></script>
    <title><%- site_conf.site.name -%> - <%- site_conf.site.short %></title>
</head>
<body>
    <header>
        <%- include("widgets/nav.ejs") %>
    </header>
    <main>
        <aside>

        </aside>
        <article>

        </article>
    </main>
</body>