<!DOCTYPE html>
<head>
    <%- include("widgets/head.ejs") %>
    <title>服务器 - <%- site_conf.site.name -%></title>
</head>
<body>
    <%- include("widgets/m-header.ejs") %>
    <Main>
        
    </Main>
</body>